<script>
	$(document).ready(function(){
		$('#calendar').addClass('active');
		$('#goal').hide();
		$('#pick_date').change(function(){
			$('#goal').show();
			var date = $(this).val();
			var dateArr = date.split("-");
			date = dateArr[1] + "-" + dateArr[2] + "-" + dateArr[0];
			$('#date').text(date);
			$('#input_date').submit()

		});

	});

</script>
<form id="input_date" action="/goals/get_goal" data-remote="true" method="post">
	<input type="date" name="date" id="pick_date" class="datepicker datepicker-dropdown dropdown-menu"></input>
 </form>
<div id="goal">
</div>
 