	<%unless @goal == nil %>
	<h1>Goal for <span id="date"><%=@date%></span></h1>


	<p><a href="/goals/<%=@goal.id%>"><%=@goal.goal%></a></p>
	
	<% else %>
	<h1>Goal for <span id="date"><%=@date%></span></h1>
	<p>No goal for this date yet. <a href="/goals">See your goals list?</a>
	<% end %>


